.app-container {
	display: flex;
}

.list-container {
	padding-right: 15px;
	border-right: 1px solid;
}

.task-container {
	display: flex;
	align-items: center;
	margin: 3px 0;
}

.btn-delete {
	margin: 0 10px;
	border-radius: 2px;
	color: rgb(88, 31, 31);
	font-size: 9px;
}
